@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", serif;
  }
  h3.subheader {
    border: solid;
    border-color: #e73151;
    border-width: 0px 0 3px 0;
    border-radius: 0% 0% 92% 0%/0 0 6% 0;
    transform: rotate(2deg);
  }
  .roadmap-list::before {
    position: absolute;
    left: -20px;
    top: -10px;
    content: url("/assets/images/roadmap-pulse.svg");
  }
}

@layer components {
  h3.subheader {
    @apply relative uppercase text-dark mb-4 inline-block text-2xl tracking-wider font-semibold text-center;
  }
  .btn {
    @apply px-3 py-2 font-semibold transform rounded-md shadow-sm  border capitalize hover:-translate-y-px hover:shadow-md  transition duration-200 border-primary text-sm md:text-base tracking-wide;
  }
  .btn-primary {
    @apply text-white bg-primary hover:bg-primary-hover;
  }
  .btn-secondary {
    @apply bg-white text-primary border-primary;
  }
  .social-item svg {
    @apply shadow-sm hover:shadow-md transition duration-200 hover:-translate-y-px;
  }
}
