@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", serif;
  }
  li.coming-soon::before {
    content: "Coming Soon";
    font-size: 10px;
    position: absolute;
    bottom: -18px;
    right: 0;
    display: block;
    color: #e73151;
  }
  h3.subheader {
    border: solid;
    border-color: #e73151;
    border-width: 0px 0 3px 0;
    border-radius: 0% 0% 92% 0%/0 0 6% 0;
    transform: rotate(2deg);
  }
  .roadmap-list::before {
    position: absolute;
    left: -20px;
    top: -10px;
    content: url("/assets/images/roadmap-pulse.svg");
  }
  .glass:before {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    top: 3px;
    left: 3px;
    content: "";
    background-image: url(https://3.bp.blogspot.com/-JlYXI_mJn7U/UFIJ7_8iLJI/AAAAAAAAAWY/ClZoftC59Uc/s1600/TheGobblingGluttons.jpg);
    background-repeat: no-repeat;
    border-radius: 100px;
    -webkit-filter: blur(0px);
    background-position: top center;
    background-attachment: fixed;
    border: 2px solid rgba(255, 255, 255, 0.4);
    z-index: 898;
    zoom: 1.1;
  }
  .glass:after {
    position: absolute;
    background: #000;
    width: 120px;
    height: 120px;
    content: "";
    display: block;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-image: url(https://3.bp.blogspot.com/-JlYXI_mJn7U/UFIJ7_8iLJI/AAAAAAAAAWY/ClZoftC59Uc/s1600/TheGobblingGluttons.jpg);
    background-position: top center;
    background-attachment: fixed;
    z-index: 889;
    -webkit-filter: blur(1px) saturate(120%);
  }
}

@layer components {
  h3.subheader {
    @apply relative uppercase text-dark mb-4 inline-block text-2xl tracking-wider font-semibold text-center;
  }
  .btn {
    @apply px-3 py-2 font-semibold transform rounded-md shadow-sm  border capitalize hover:-translate-y-px hover:shadow-md  transition duration-200 border-primary text-sm md:text-base tracking-wide;
  }
  .btn-primary {
    @apply text-white bg-primary hover:bg-primary-hover;
  }
  .btn-secondary {
    @apply bg-white text-primary border-primary;
  }
  .social-item svg {
    @apply shadow-sm hover:shadow-md transition duration-200 hover:-translate-y-px;
  }
}
